<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <!--为了支持disconf，因此，必须添加扫描类 com.baidu-->
    <context:component-scan base-package="com.baidu,com.linlemo.disconf.demo"/>

    <!--使你的项目支持 cglib的aop-->
    <aop:aspectj-autoproxy proxy-target-class="true"/>

    <context:property-placeholder location="classpath*:*.properties" ignore-unresolvable="true"/>

    <!-- 使用disconf必须添加以下配置 -->
    <bean id="disconfMgrBean" class="com.baidu.disconf.client.DisconfMgrBean"
          destroy-method="destroy">
        <!--这里的 scanPackage 属性支持扫描多包，逗号分隔-->
        <property name="scanPackage" value="com.linlemo.disconf.demo"/>
    </bean>
    <bean id="disconfMgrBean2" class="com.baidu.disconf.client.DisconfMgrBeanSecond"
          init-method="init" destroy-method="destroy">
    </bean>

    <bean id="propertyConfigurer"
          class="com.baidu.disconf.client.addons.properties.ReloadingPropertyPlaceholderConfigurer">
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
        <property name="propertiesArray">
            <list>
                <!--<ref bean="configproperties_disconf"/>-->
            </list>
        </property>
    </bean>


    <bean id="jedisConfig" class="com.linlemo.disconf.demo.config.JedisConfig">
        <property name="host" value="${redis.host}"/>
        <property name="port" value="${redis.port}"/>
    </bean>
</beans>